{% extends "layout.html" %}

{% block title %}
    about
{% endblock %}

{% block main %}
<div style="float:right; margin-right: 10%;">user: {{ name }}</div>
<h2>
    about
</h2>

<main>
        welcome to the spring 2020 whrb tech comp! <br> <br>
        <p>first things first: this comp assumes no prior knowledge; absolutely everyone, regardless of prior experience, is welcome in this comp, and we guarantee that you will all be competent tech engineers by the end of this process!</p>
        <p>the tech department is responsible for the functionality of the station, and that includes making sure our broadcasting and playback equipment is working properly, as well as doing proactive projects that make the space more reliable, give us new super powers, or just make it cooler.</p>
        <p>this comp is going to be full of information but overall chill. we’ll have seven meetings in the station to go over basic tech principles and how they’re at work in the station, and most weeks there will be a small assignment due too. as long as you come to meetings and take notes, the comp will be a breeze. and there are no cuts! all who complete the comp shall be ordained tech members.</p>


        <p>this website will be the homebase for all things tech comp!!! it's where you'll log your attendance, find assignment info, submit your work, have access to important links, and keep track of upcoming events!
        the hope is that it will streamline the logistics of the comp and make all its components a little easier to keep track of for both compers and comp directors </p>


    </p>



</main>

<br>
<br>


{% endblock %}
